.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: url('/images/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.svelte-lightbox-body {
  width: 80vw !important;
  height: 80vh !important;
}

.svelte-lightbox-body img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

  .svelte-lightbox-body .next-button {
    width: auto !important;
}